*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(6, 0, 75);
}
header{
    text-align: center;
    font-family: Google Sans;
    background: linear-gradient(to right , black , green);
    margin-top: 0;
    color: white;
    padding: 40px 0;
    box-shadow: 0 0 40px 20px green;
    margin-bottom: 50px;
}
#allContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px , 1fr));
    grid-auto-rows: 1fr;
    margin: 100px 30px;
    gap :60px;
}
#odd{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(6, 0, 75);
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 30px 15px green;
    transition: transform 0.2s;
}
#odd:hover{
    transform: scale(1.05);
}
#odd h1{
    margin-bottom: 30px;
}
#container{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(6, 0, 75);
    color:white;
    box-shadow: 0 0 30px 15px green;
    border-radius: 20px;
    transition: transform 0.2s;
}
#container:hover{
    transform: scale(1.05);
}
.inputs{
    text-align: center;
    font-size: 20px;
    width: 200px;
    margin: 10px;
}
#numOfDice{
    margin-left: 4px;
}
label{
    font-size: 20px;
}
#btn{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px;
    padding: 10px 15px;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}
#btn:hover{
    transform: scale(1.2);
}
#btn:active{
    background-color: rgb(255, 135, 135);
}
#diceResult{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
#betResult{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
#diceImg{
    text-align: center;
    margin: 5px;
}
#betMsg{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
#winLoss{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
#allResult{
    display: none;
}
#allResult.show{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px , 1fr));
    grid-auto-rows: 1fr;
    margin: 30px;
    margin-bottom: 80px;
    gap :40px;
}
#result , #guessing{
    background-color: rgb(6, 0, 75);
    color:white;
    box-shadow: 0 0 30px 15px green;
    border-radius: 20px;
}
#result{
    padding :40px 0;
    transition: transform 0.2s;
}
#result:hover{
    transform: scale(1.05);
}
#guessing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}
#guessing:hover{
    transform: scale(1.05);
}